@tailwind base;
@tailwind components;
@tailwind utilities;
#hero{
  position: relative;
}
#nav{
  position: absolute;
  top:100px;
  left: 0;
  right: 0;
  z-index: 3;

}
#hr{
  border: 1px solid black;
}